---
import Layout from '../layouts/Layout.astro';
import  IncrementButton  from '../components/Button'
---

<Layout title="Welcome to Astro.">
	<main>
		<IncrementButton client:load/>
	</main>
</Layout>

<style>
	
</style>
